html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #bdd4e7;
    margin: 0;
    padding: 0;
}

.content-group {
    margin-top: 2em;
    margin-left: 8.5rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    max-width: 95%;
    /* width: 95%; */
}